@{
    ViewData["Title"] = "О нас";
}

<div class="container mt-5">
    <div class="row justify-content-end">
        <div class="col-md-6 text-right text-white font-weight-bold p-4 about-text-container">
            <h1 class="display-4">Travel Buddy</h1>
            <p class="lead">
                Это инновационная платформа, созданная для современных путешественников, которые ценят гибкость, уникальность и безопасность. 
                Платформа решает множество проблем, с которыми сталкиваются туристы в постпандемийном мире, и предлагает комплексный подход к организации путешествий.
            </p>
        </div>
    </div>
</div>